div#container1 {
  padding: 0px;
  margin: 0px;
}

#nav1 { 
  padding: 0px;
  margin: 0px;
}

#games {
  overflow-y: scroll;
  height: calc(100vh - 48px);
  background-color: peru;
  padding-left: 10px;
}

#dashboard {
  background-color: tan
}

#games_container {
  padding-right: 0px;
  margin-right: 0px;
}

#upload_button {
  height: 48px;
  width: 100%;
}

#upload_button:hover {
  background-color: green;
}
